{% include "header.html" %}
  <div class="container">
      <div class="search-container">
          <input type="text" class="search-input" placeholder="Search for a GitHub repository">
          <button  class="search-button">Search</button>
      </div>
      <div class="repository-list">
          <div class="repository">
              <div class="repository-title">Repository 1</div>
              <div class="repository-description">Description of Repository 1.</div>
          </div>
          <div class="repository">
              <div class="repository-title">Repository 2</div>
              <div class="repository-description">Description of Repository 2.</div>
          </div>
          <div class="repository">
              <div class="repository-title">Repository 3</div>
              <div class="repository-description">Description of Repository 3.</div>
          </div>
          <div class="repository">
              <div class="repository-title">Repository 4</div>
              <div class="repository-description">Description of Repository 4.</div>
          </div>
          <div class="repository">
              <div class="repository-title">Repository 5</div>
              <div class="repository-description">Description of Repository 5.</div>
          </div>
      </div
  </div>
</body>
</html>
